* {
    margin: 0;
    letter-spacing: 1.5px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    height: 50vh;
}

.container {
    padding: 10px 10%;
}

.instagram a {
    text-decoration: none;
}

.logo {
    width: 70px;
}

.header-text {
    margin-top: 3%;
    font-size: 30px;
}

  
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ec4a54;
}
@media screen and (max-width: 1024px) {
    .header-text {
        font-size: 26px; /* Adjust font size for tablets */
    }

    .header-text h1 {
        font-size: 48px; /* Adjust font size for tablets */
        margin-top: 35px; /* Adjust margin for tablets */
    }
}
@media screen and (max-width: 768px) {
    .header-text {
       
        font-size: 24px; /* Adjust font size for smaller screens */
        padding:10px auto;
    }

    .header-text h1 {
       
        font-size: 35px; /* Adjust font size for smaller screens */
        margin-top: 30px; /* Adjust margin for smaller screens */
    }
    .header-text .small {
        font-size: 20px;
    }
}

.aesthetic-button {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: #333;
    text-align: center;

    letter-spacing: 2px;
    padding: 20px;
    margin-top: 5%;
}
@media screen and (max-width: 768px){
    .aesthetic-button{
        font-size: 25px;
       
    }  
}


/* contact */
@media screen and (max-width: 1024px) {
   .row{
    margin-top: -200px;
   }
}
@media screen and (max-width: 768px){
    .row{
        font-size: 25px;
       margin-top: -60px;
    }  
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ec4a54;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ec4a54;
}

.btn.btn2 {
    display: inline-block;
    background: #ec4a54;
}

.content-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

nav .fa-solid {
    display: none;
}
/* portfolio */
#portfolio {
    margin-top: -100px;
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}

.work img {
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ec4a54);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
   
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ec4a54;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}
/* @media only screen and (max-width:600px){
    #header{
        background-image: url("background.mobile.png");
    }
    .header-text{
        margin-top:100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size:30px;
    }
     nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ec4a54;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height:100vh;
        padding-top: 50px;
        z-index:2;
        transition: right 0.5s; 

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left: 25px;
        cursor:pointer;
    }
    .sub-title{
        font-size:40px;
    }
    .about-col-1{
        margin-bottom:30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis:100%
    }
}  */